<ion-header>
  <ion-toolbar>
    <ion-title>Effettua l'accesso per iniziare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Applicazione per Protezione Civile Marche</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Questa applicazione è ad uso esclusivo delle associazione di Protezione Civile della Regione Marche.
      Per iniziare ad utilizzare l'applicazione effettua il login.
    </ion-card-content>

    <ion-input placeholder="Inserisci" id="usernameAccesso">ID volo web :</ion-input>
    <ion-input placeholder="Inserisci" type="password" id="passAccesso">password :</ion-input>


    <ion-button  id="loginAccesso" (click)='login()'>Accesso</ion-button>

    <ion-button  id="prova" (click)='prova()'>Prova</ion-button>
  </ion-card>
  
</ion-content>
