<ion-header>
  <ion-toolbar>
    <ion-title>Accesso effettuato come amministratore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
<ion-card>
  <ion-button id = "nuovaRegistrazioneOrganizzazione" (click) = 'nuovaRegistrazioneOrg()'>Registra nuova org. di volontariato</ion-button>
  <ion-button id = "modificaRegistrazione" (click) = 'metodoAggiungiVolontari()'>Modifica dati org. di volontariato</ion-button>
  <ion-button id = "consultaModelliA" (click) = 'metodoTrovaModellA()'>Consulta registro Modelli A</ion-button>
</ion-card>
</ion-row>